* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', Helvetica sans-serif;
  color: #fff;
}
body {
  background: #004161;
  background: -moz-linear-gradient(45deg, #004161 0%, #003557 74%, #003557 89%, #003557 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #004161), color-stop(74%, #003557), color-stop(89%, #003557), color-stop(100%, #003557));
  background: -webkit-linear-gradient(45deg, #004161 0%, #003557 74%, #003557 89%, #003557 100%);
  background: -o-linear-gradient(45deg, #004161 0%, #003557 74%, #003557 89%, #003557 100%);
  background: -ms-linear-gradient(45deg, #004161 0%, #003557 74%, #003557 89%, #003557 100%);
  background: linear-gradient(45deg, #004161 0%, #003557 74%, #003557 89%, #003557 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004161', endColorstr='#003557', GradientType=1);
}
.container,
html,
body {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
h1,
.user-input {
  flex-basis: 100%;
  flex: none;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 0.75rem;
  line-height: 40px;
  color: #a3f820;
}
.row {
  display: inline-flex;
}
/*--------------- Title bar ------------------*/
.title-bar {
  width: 100%;
}
.title-bar h1 {
  width: 70%;
  float: left;
  text-align: left;
  padding-left: 2rem;
}
.title-bar button {
  width: 15%;
  float: right;
  border: none;
  background: none;
}
.title-bar button img {
  height: 25px;
  margin-top: 7px;
}
/* -------------------------------------------*/
/*    Messages Box Styles                     */
/* -------------------------------------------*/
#messages {
  overflow-y: scroll;
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  flex: 1;
  /* Background */
  background-image: url("img/bg.png");
  border-radius: 5px;
}
.message {
  width: 100%;
  word-break: break-all;
}
.message .name-tag {
  width: auto;
  font-weight: bold;
  margin-right: 20px;
  padding: 10px 20px;
  padding-right: 0;
  word-break: keep-all;
}
/*-------  Message bubble -------*/
.text-globe {
  color: #082533;
  border-bottom: 1px solid #a3f820;
  word-wrap: break-word;
  background-color: #F2F2F2;
  border-radius: 5px;
  box-shadow: 0 0 6px #B2B2B2;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  vertical-align: top;
}
.text-globe::before {
  background-color: #F2F2F2;
  content: "\00a0";
  display: block;
  height: 16px;
  position: absolute;
  top: 11px;
  transform: rotate(29deg) skew(-35deg);
  -moz-transform: rotate(29deg) skew(-35deg);
  -ms-transform: rotate(29deg) skew(-35deg);
  -o-transform: rotate(29deg) skew(-35deg);
  -webkit-transform: rotate(29deg) skew(-35deg);
  width: 20px;
}
.left-arrow {
  float: left;
  margin: 5px 10px 5px 10px;
}
.left-arrow::before {
  box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, 0.4);
  left: -9px;
}
/* -------------------------------------------*/
/*    Form Styles                             */
/* -------------------------------------------*/
#input-form {
  display: flex;
  flex-direction: column;
}
#input-form input {
  line-height: 30px;
  font-size: 1.2rem;
  border: none;
  padding-left: 10px;
  border-radius: 5px;
  margin-top: 5px;
  color: #2d4848;
  background-color: rgba(201, 239, 216, 0.95);
}
#input-form input[type="text"]:disabled {
  background: none;
  color: #a3f820;
}
#input-form .btn-send {
  width: 10%;
  margin: 5px 0px 0px 5px;
  border-radius: 5px;
  background-color: #a3f820;
  color: #2d4848;
  border: none;
  -webkit-transition: background-color 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: background-color 0.5s;
}
#input-form .btn-send img {
  height: 2.3rem;
}
#input-form .btn-send img:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
#input-form .btn-send:hover {
  background-color: rgba(33, 204, 33, 0.92);
  color: #2d4848;
}
#input-form textarea {
  height: 60px;
  flex-basis: 90%;
  padding: 5px 10px;
  font-size: 1.05rem;
  margin-top: 5px;
  border-radius: 5px;
  color: #2d4848;
  background-color: rgba(201, 239, 216, 0.95);
  border: none;
  resize: none;
}
.row:last-of-type {
  margin-bottom: 5px;
}
/* ---------- scrollbar ----------- */
.scrollbar {
  float: right;
  height: 200px;
  background: #004161;
  overflow-y: scroll;
}
.skinny-green::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #004161;
  border-radius: 10px;
}
.skinny-green::-webkit-scrollbar {
  width: 5px;
  background-color: #004161;
}
.skinny-green::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #004161;
  background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#a3f820), to(#19911D), color-stop(0.6, #54DE5D));
}
/* -------------------------------------------*/
/*    Modal Styles                            */
/* -------------------------------------------*/
#modal-about {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
  background-image: url('img/transparent-bg.png');
}
#modal-about h2 {
  text-align: center;
  margin-bottom: 50px;
}
#modal-about div {
  text-align: left;
  width: 300px;
  margin: 35px auto;
  background-color: #c0c8d6;
  border: 2px solid cadetblue;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  height: 70%;
  position: relative;
}
#modal-about div > * {
  color: #03447c;
}
#modal-about div .author-name {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
#modal-about div p {
  text-align: left;
  padding-top: 10px;
  color: #03447c;
}
#modal-about div p strong {
  color: #4e8e90;
}
#modal-about div #btn-close-modal {
  background: none;
  border: none;
  position: absolute;
  right: 140px;
  bottom: 20px;
}
#modal-about div #btn-close-modal img {
  height: 50px;
}
/* --------------- Mobile Devices ------------- */
@media (max-width: 976px) {
  .container {
    width: 100%;
  }
  #input-form textarea {
    flex-basis: 80%;
  }
  #input-form .btn-send {
    flex-basis: 20%;
  }
}
